/*sir ini kita so campur semua dengan em,rem,font,color,position,responsive*/
#top-container{
    background-color: #bcc8ff;
}
#skills{
    background-color: #bcc8ff; 
}
#satu{
    background-color: #bcc8ff;
}
#work{
    background-color: #bcc8ff;
}
#edu{
    background-color: #bcc8ff;
}
#one{
    background-color: #bcc8ff;
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    text-align: center; 
}
#contact{
    background-color: cornsilk;
    margin: 20px;
    padding: 20px;
    font-size: 1.325em;
}
@media screen and (max-width: 100px){
    .thanks{
        text-decoration: none;
        font-size: 25px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 20px;
        width: 20%;
        float: left;
    }
}
